<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>531697897089-p4u6sacfjn4u27dg6bgldgcle6l8icjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531697897089-p4u6sacfjn4u27dg6bgldgcle6l8icjm</string>
	<key>API_KEY</key>
	<string>AIzaSyDI_j_P-gNXbewi0P9TbxwVUqaVcvmLKNI</string>
	<key>GCM_SENDER_ID</key>
	<string>531697897089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zicure.connect</string>
	<key>PROJECT_ID</key>
	<string>connect40-75d5d</string>
	<key>STORAGE_BUCKET</key>
	<string>connect40-75d5d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531697897089:ios:06274769f0d82cc8</string>
	<key>DATABASE_URL</key>
	<string>https://connect40-75d5d.firebaseio.com</string>
</dict>
</plist>